/* CONSTANTS*/
:root {
  --color1: #F9F0C8;
  --color2: #F3E191;
  --color3: #EFD56B;
  --color4: #EAC534;
  --color5: #DEB617;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

/*
* HEADER
*/
#header {
  background-color: var(--color3);
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 100px;
  padding-bottom: 40px;
  color: #FFFFFF;
  font-size: 50px;
}

/*
* GENERAL ROW
*/
.row {
  padding-top: 20px;
  padding-bottom: 15px;
}

.row:nth-of-type(4n+2) {
  background-color: var(--color1);
}

.row:nth-of-type(4n+3) {
  background-image: url('./assets/swirl_bg1-invert.jpg');
  background-color: var(--color5);
  background-blend-mode: screen;
}

.row:nth-of-type(4n+1) {
  background-image: url('./assets/swirl_bg1.jpg');
  background-color: var(--color5);
  background-blend-mode: screen;
}

.row:nth-of-type(4n+0) {
  background-color: var(--color2);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .title {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  padding-bottom: 10px;
  font-size: 25px;
}

/*
* COLUMN HELPERS
*/

.column3 {
  float: left;
  width: 33%;
  text-align: center;
}

.column4 {
  float: left;
  width: 25%;
  text-align: center;
}

p {
  padding-left: 50px;
  padding-right: 50px;
}

/*
* IMAGE GRID
*/
/* First the Grid */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 0;
}

figure {
  margin:0;
}

/* The Picture Frame */
.gallery-frame {
  padding: .5rem;
  text-align: center;
}

/* The Images */
.gallery-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/*
* ROW SPECIFIC
*/


#Sking .column3 img {
  object-fit: contain;
  height: 350px;
}

#Volleyball .column4 img {
  object-fit: contain;
  height: 300px;
  width: 300px;
}

#VFA .column3 img {
  object-fit: contain;
  height: 350px;
}

#Travel .gallery-frame {
  background-color: #333;
  color: #d9d9d9;
}

#BooksMovies .gallery-grid {
  align-items: center;
}

#BooksMovies .gallery-frame {
  background-color: #FFFFFF;
}
