/* CONSTANTS*/
:root {
  --color1: #BEEEE5;
  --color2: #8DE2D1;
  --color3: #62D7BF;
  --color4: #32C3A6;
  --color5: #1D7261;
}

/*
*
* HELLO WORLD, LIZZY THRASHER
*
*/
.header #HelloWorld {
  font-size: 50px;
}
.header #name {
  font-size: 100px;
}

/*
*
* SELF SYNOPSIS
*
*/
#row2 {
  background-color: var(--color1);
}

.column {
  float: left;
  width: 33.33%;
}

#row2:after {
  content: "";
  display: table;
  clear: both;
}

#row2 #Img1 {
  background-color: var(--color5);
}

#row2 #Img2 {
  background-color: var(--color5);
}

#row2 img {
  margin: 10%;
  object-fit: cover;
  width: 80%;
  height: 350px;
}

#row2 #SelfDescription p {
  margin: 5%;
}

#row2 #SelfDescription p:first-of-type {
  text-align: center;
  font-size: 25px;
}

/*
*
* BIO
*
*/
#row3 {
  padding: 50px;
  background-image: url('./assets/swirl_bg1-invert.jpg');
  background-color: var(--color2);
  background-blend-mode: screen;
}

#row3 #title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#row3 #bio {
  font-size: 15px;
  text-align: left;
}
